:root{
    --cC1 : #C18653;
    --c26 : #262626;
    --cFA : #FAFAFA;
    --c8C : #8C8C8C;
    --c43 : #434343;
    --c14 : #141414;
    --cF5 : #F5222D;
    --c18 : #1890FF;
    --cE6 : #E6F7FF;
    --cD9 : #D9D9D9;
}